body {
  margin: 0;
  font-family: sans-serif;
}

html, body, input, textarea, select {
  background-color: var(--color-bg);
  border-color: var(--color-border);
  color: var(--color-text);
}

:root {
  --color-bg: white;
  --color-bg-alt: #efefef;
  --color-border: #e3e3e3;
  --color-text: black;
  --color-text-alt: #474747;

  --color-button: var(--color-bg-alt);
  --color-button-text: black;
  --color-button_active: #00a000;
  --color-button_active-text: white;
  --color-focus: black;

  --color-navbar: #ddd;
  /*--color-navbar-text: black;*/
  --color-navbar_hover: #efefef;
  --color-navbar_hover-text: black;
  /*--color-navbar_active: ;
  --color-navbar_active-text: ;*/
}

/***** DARK MODE *****/
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #181a1b;
    --color-bg-alt: #282a2b;
    --color-border: #736b5e;/**/
    --color-text: white;
    --color-text-alt: #696969;
  
    --color-button: var(--color-bg-alt);
    --color-button-text: white;
    --color-button_active: #00a000;
    --color-button_active-text: white;
    --color-focus: white;
  
    --color-navbar: #333;
    --color-navbar_hover: #222;
    --color-navbar_hover-text: white;
  }
}


a[href="#main-content"] {  
  position: absolute;
  top: -42px;
  left: 0;
  z-index: 999;
  padding: 8px;
  margin: 4px;
  background-color: var(--color-bg-alt);
  border-radius: 0 8px;
  border: 2px solid black;
  transition: top 1s ease-out;
  outline: none;
  color: var(--color-text);
}
a[href="#main-content"]:focus {
  top: 0;
  transition: top .1s ease-in;
  border-color: blue;
}


.detailList > span {
  font-size: small;
  color: var(--color-text-alt);
  display: block;
}
.detailList > a {
  color: var(--color-text);
  text-decoration: none;
}
.detailList > a:hover {
  text-decoration: underline;
}

.avatar {
  border-radius: 0 8px;
}